body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.body-wrapper {
    width: 50%;
    margin: auto;
}

.body-wrapper h1 {
    text-align: center;
}
